<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link th:replace="/common/fragment::head">
	<title>已结束列表</title>
    <script th:src="@{/static/activiti/workflow.js}" type="text/javascript"></script>
    <script th:src="@{/static/activiti/get-form.js}" type="text/javascript"></script>
	<script type="text/javascript">
		$(function() {
			// 跟踪
		    $('.trace').click(graphTrace);
		});
	</script>
</head>

<body>
	<table class="table table-bordered table-hover table-condensed">
		<tr>
			<th>流程ID</th>
			<th>流程定义ID</th>
			<th>流程名称</th>
			<th>流程启动人</th>
			<th>流程启动时间</th>
			<th>流程结束时间</th>
			<th>流程是否结束</th>
		</tr>

		<tr th:each="hpi:${page.result}">
			<td><a href="#" class="tenant" th:pid="${hpi.id}" th:pname="${hpi.name }" th:text="${hpi.id}"></a></td>
			<td th:text="${hpi.processDefinitionId}"></td>
			<td><a class="trace" href='#' th:pid="${hpi.processInstanceId}" th:pdid="${hpi.processDefinitionId}" title="点击查看流程图" th:text="${hpi.name }">activityName</a></td>
			<td th:text="${hpi.startUserId}"></td>
			<td th:text="${hpi.startTime != null ? #dates.format(hpi.startTime,'yyyy-MM-dd HH:mm:ss') : ''}"></td>
			<td th:text="${hpi.endTime != null ? #dates.format(hpi.endTime,'yyyy-MM-dd HH:mm:ss') : ''}"></td>
			<td th:text="${hpi.endTime != null ? (#strings.isEmpty(hpi.deleteReason) ? '正常结束' : hpi.deleteReason) : '运行中'}"></td>
		</tr>
	</table>
	<tags:pagination page="${page}" paginationSize="${page.pageSize}"/>
	<!-- 办理任务对话框 -->
	<div id="handleTemplate" class="template"></div>

</body>
</html>
