<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link th:replace="/common/fragment::head">
	<title>外置表单流程列表</title>
    <script th:src="@{/static/activiti/process-list.js}" type="text/javascript"></script>
</head>

<body>
	<div th:replace="/common/fragment::message">信息</div>
	<table width="100%" class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th>实例ID</th>
				<th>部署ID</th>
				<th>名称</th>
				<th>KEY</th>
				<th>版本号</th>
				<th>XML</th>
				<th>图片</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="process:${page.result }">
				<td th:text="${process.id}"></td>
				<td th:text="${process.deploymentId}"></td>
				<td th:text="${process.name}"></td>
				<td th:text="${process.key}"></td>
				<td th:text="${process.version}"></td>
				<td><a class="ellipsis" style="max-width: 400px;" target="_blank" th:href="@{'/management/resource/process-definition/'+${process.id}+'/xml'}" th:text="${process.resourceName }" th:title="${process.resourceName }">PROCESS_RESOURCENAME</a></td>
				<td><a class="ellipsis" style="max-width: 300px;" target="_blank" th:href="@{'/management/resource/process-definition/'+${process.id}+'/image'}" th:text="${process.diagramResourceName }" th:title="${process.diagramResourceName }">PROCESS_DIAGRAM_RESOURCENAME</a></td>
				<td><a class="startup-process btn btn-info" th:pid="${process.id}" th:pname="${process.name}">启动</a></td>
			</tr>
		</tbody>
	</table>
	<div class="pagination" th:utext="${page}"></div>
</body>
</html>
