<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link th:replace="/common/fragment::head">
	<title>流程代办信息管理</title>
	<script type="text/javascript">
		$(document).ready(function() {
			
		});
		function page(n,s){
			$("#pageNo").val(n);
			$("#pageSize").val(s);
			$("#searchForm").submit();
        	return false;
        }
	</script>
</head>
<body>
	<ul class="nav nav-tabs">
		<li class="active"><a th:href="@{/activiti/actDelegate/}">流程代办信息列表</a></li>
		<li><a th:href="@{/activiti/actDelegate/form}">流程代办信息添加</a></li>
	</ul>
	<form id="searchForm" th:action="@{/activiti/actDelegate/}" method="post" class="breadcrumb form-search">
		<input id="pageNo" name="pageNo" type="hidden" th:value="${page.pageNo}"/>
		<input id="pageSize" name="pageSize" type="hidden" th:value="${page.pageSize}"/>
		<ul class="ul-form">
			<li><label>代理人：</label>
				<input type="text" name="assign" maxlength="64" class="input-medium" th:text="${actDelegate.assign}"/>
			</li>
			<li><label>流程ID：</label>
				<input type="text" name="processId" maxlength="64" class="input-medium" th:text="${actDelegate.processId}"/>
			</li>
			<li><label>代理有效期：</label>
				<input name="startDate" type="text" readonly="readonly" maxlength="20" class="input-medium Wdate"
					th:value="${actDelegate.startDate != null ? #dates.format(actDelegate.startDate,'yyyy-MM-dd HH:mm:ss') : ''}"
					onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false});"/>
				<input name="endDate" type="text" readonly="readonly" maxlength="20" class="input-medium Wdate"
					th:value="${actDelegate.endDate != null ? #dates.format(actDelegate.endDate,'yyyy-MM-dd HH:mm:ss') : ''}"
					onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false});"/>
			</li>
			<li><label>手动取消：</label>
				<select name="canceled" class="input-medium">
					<option value="" th:selected="${actDelegate.canceled==''}">全部</option>
					<option value="1" th:selected="${actDelegate.canceled=='1'}">被取消</option>
					<option value="0" th:selected="${actDelegate.canceled=='0'}">未取消</option>
				</select>
			</li>
			<li class="btns"><input id="btnSubmit" class="btn btn-primary" type="submit" value="查询"/></li>
			<li class="clearfix"></li>
		</ul>
	</form>
	<div th:replace="/common/fragment::message">信息</div>
	<table id="contentTable" class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>ID</th>
				<th>被代理人</th>
				<th>代理人</th>
				<th>流程ID</th>
				<th>流程名称</th>
				<th>开始日期</th>
				<th>截止日期</th>
				<th>创建日期</th>
				<th>修改日期</th>
				<th>手动取消</th>
				<th>取消日期</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="actDelegate:${page.result}">
				<td th:text="${actDelegate.id}">
				</td>
				<td th:text="${actDelegate.owner}">
				</td>
				<td th:text="${actDelegate.assign}">
				</td>
				<td th:text="${actDelegate.processId}">
				</td>
				<td th:text="${actDelegate.processName}">
				</td>
				<td th:text="${#dates.format(actDelegate.startDate,'yyyy-MM-dd HH:mm:ss')}">
				</td>
				<td th:text="${#dates.format(actDelegate.endDate,'yyyy-MM-dd HH:mm:ss')}">
				</td>
				<td th:text="${actDelegate.createDate != null ? #dates.format(actDelegate.createDate,'yyyy-MM-dd HH:mm:ss') : ''}">
				</td>
				<td th:text="${actDelegate.updateDate != null ? #dates.format(actDelegate.updateDate,'yyyy-MM-dd HH:mm:ss') : ''}">
				</td>
				<td th:text="${actDelegate.canceled == '1' ? '已取消' : '未取消'}">
				</td>
				<td th:text="${actDelegate.cancelDate != null ? #dates.format(actDelegate.cancelDate,'yyyy-MM-dd HH:mm:ss') : ''}">
				</td>
				<td>
    				<a th:href="@{${'/activiti/actDelegate/form?id='+actDelegate.id}}">修改</a>
					<a th:if="${(actDelegate.canceled == '0') && (actDelegate.endDate.compareTo(#dates.createNow()) > 0)}" th:href="@{${'/activiti/actDelegate/delete?id='+actDelegate.id}}" onclick="return confirmx('确认要取消该流程代办授权吗？', this.href)">取消</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="pagination" th:utext="${page}"></div>
</body>
</html>