<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link th:replace="/common/fragment::head">
	<title>已结束列表</title>
	<script th:src="@{/static/activiti/workflow.js}" type="text/javascript"></script>
	<script th:src="@{/static/common/sort.js}" type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/static/activiti/get-form.js}"></script>
	<script type="text/javascript">
		$(function() {
			// 跟踪
		    $('.trace').click(graphTrace);
		});
	</script>
</head>

<body>
	<form id="searchForm" modelAttribute="inspection" th:action="@{/management/history/process/list}" method="post" class="breadcrumb form-search">
		<input id="pageNo" name="pageNo" type="hidden" th:value="${page.pageNo}"/>
		<input id="pageSize" name="pageSize" type="hidden" th:value="${page.pageSize}"/>
		<input id="orderBy" name="orderBy" type="hidden" th:value="${page.orderBy}"/>
		<ul class="ul-form">
			<li><label>流程ID：</label>
				<input type="text" name="processInstanceId" class="input-medium" th:value="${processInstanceId}"/>
			</li>
			<li><label>流程定义ID：</label>
				<input type="text" name="processDefinitionId" class="input-medium" th:value="${processDefinitionId}"/>
			</li>
			<!-- <li class="clearfix"></li> -->
			<li><label>是否结束：</label>
				<select name="finish" class="input-medium">
					<option value="" th:selected="${finish==''}">全部</option>
					<option value="1" th:selected="${finish=='1'}">已结束</option>
					<option value="0" th:selected="${finish=='0'}">运行中</option>
				</select>
			</li>
			<li><label>启动人：</label>
				<input type="text" name="startBy" class="input-medium" th:value="${startBy}"/>
			</li>
			<li class="btns"><input id="btnSubmit" class="btn btn-primary" type="submit" value="查询"/></li>
			<li class="clearfix"></li>
		</ul>
	</form>
	<div th:replace="/common/fragment::message">信息</div>
	<table width="100%" class="table table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th>流程ID</th>
				<th>流程定义ID</th>
				<th>流程部署ID</th>
				<th>流程名称</th>
				<th>流程启动人</th>
				<th class="sort-column startTime">流程启动时间</th>
				<th class="sort-column endTime">流程结束时间</th>
				<th>流程状态</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="hpi:${page.result }">
				<td th:text="${hpi.id}"></td>
				<td th:text="${hpi.processDefinitionId }">流程定义ID</td>
				<td th:text="${hpi.deploymentId }">流程部署ID</td>
				<td th:inline="text">[[${hpi.name }]]
					<a class="trace" href='#' th:pid="${hpi.processInstanceId}" th:pdid="${hpi.processDefinitionId}" title="点击查看流程图">跟踪</a>
					<a href="#" class="tenant" th:pid="${hpi.id}" th:pname="${hpi.name }" title="点击查看流程信息">信息</a>
				</td>
				<td th:text="${hpi.startUserId }">流程启动人</td>
				<td th:text="${hpi.startTime != null ? #dates.format(hpi.startTime,'yyyy-MM-dd HH:mm:ss') : ''}">流程启动时间</td>
				<td th:text="${hpi.endTime != null ? #dates.format(hpi.endTime,'yyyy-MM-dd HH:mm:ss') : ''}">流程结束时间</td>
				<td><span th:if="${hpi.endTime != null}" style="color:red;">已结束</span><span th:if="${hpi.endTime == null}"  style="color:green;">运行中</span></td>
			</tr>
		</tbody>
	</table>
	<div class="pagination" th:utext="${page}"></div>
</body>
</html>
